<a href="https://colab.research.google.com/github/manvendra7/demo-repo/blob/main/Webscraping_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#install packages requests and bs4
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [ ]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [4]:
#import the requests and BeautifulSoup
import requests
from bs4 import BeautifulSoup

In [ ]:
url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'
req = requests.get(url)
soup = BeautifulSoup(req.text,'html')
soup

In [10]:
print(soup.find('td',attrs={'class':'lbl rate'}))

<td class="lbl rate">5,400 / sq ft</td>

In [ ]:
# #price_per_sqft
# rate_tag=soup.find_all('td',attrs={'class':'1bl rate'})
# rate = [r.text.strip() for r in rate_tag]
# print(rate)

In [11]:
soup.find('div',attrs={'data-type' : 'price-link'}).text

' 1.37 Cr'

In [ ]:
# price

p_tag = soup.find_all('div',attrs={'data-type' : 'price-link'})

price_1p = []

for p in p_tag:
  price_1p.append(p.text.strip())

In [ ]:
print(price_1p)

['1.37 Cr', '56.98 L', '65.48 L', '79.63 L', '99.58 L', '25.05 L', '43.6 L', '62.5 L', '96 L', '93.25 L', '6.06 Cr', '96.22 L', '56.02 L', '1.13 Cr', '52.58 L', '62.23 L', '73.33 L', '1.23 Cr', '45 L', '44.33 L']

In [ ]:
len(price_1p)

20

'       python        '

In [ ]:
price_com = [p.text.strip() for p in p_tag]
price_com

['1.37 Cr',
 '56.98 L',
 '65.48 L',
 '79.63 L',
 '99.58 L',
 '25.05 L',
 '43.6 L',
 '62.5 L',
 '96 L',
 '93.25 L',
 '6.06 Cr',
 '96.22 L',
 '56.02 L',
 '1.13 Cr',
 '52.58 L',
 '62.23 L',
 '73.33 L',
 '1.23 Cr',
 '45 L',
 '44.33 L']

In [2]:
from IPython.display import clear_output
import time
for i in range(50):
  time.sleep(1.5)
  clear_output(wait=True)
  print(i)

33

KeyboardInterrupt: ignored

In [4]:
# number of bhk
bhk = soup.find('a',attrs={'class':'typelink','target':'_blank'})
# n_bhk = []
# for b in prop:
#   n_bhk.append(b.span.text.strip())
# print(n_bhk)
print(bhk.prettify())

<a class="typelink" data-type="listing-link" href="https://www.makaan.com/hyderabad/om-sree-builders-heights-in-yapral-15896080/3bhk-2545-sqft-apartment" itemprop="url" target="_blank">
 <meta content="3 BHK Apartment for sale" id="itemNameFor-15896080" itemprop="name"/>
 <strong>
  <span class="val">
   3
  </span>
  <span>
   BHK
  </span>
  <span>
   Apartment
  </span>
 </strong>
</a>

In [8]:
bhk.span.text

'3 '

In [ ]:
# number of bhk
prop=soup.find_all('a',attrs={'class':'typelink','target':'_blank'})
n_bhk = []
for b in prop:
  n_bhk.append(b.span.text.strip())
print(n_bhk)

['3', '2', '2', '3', '3', 'Residential Plot', '2', '2', '2', '3', '4', '3', '2', '3', '2', '2', '3', '3', 'Residential Plot', '2']

In [ ]:
# area in sqft
a_tag = soup.find_all('td', attrs ={'class':'size'})
area = []

for a in a_tag:
  area.append(a.text.strip())
print(area)

['2545', '1295', '1310', '1593', '1510', '1503', '890', '1250', '1173', '1636', '3567', '1415', '1245', '2105', '1195', '1245', '1467', '1875', '2700', '905']

In [ ]:
# locality
l_tag=soup.find_all('a',attrs={'class':'loclink'})
loc = []
for l in l_tag:
  loc.append(l.text.strip())
print(loc)

['Yapral, Hyderabad', 'Bachupally, Hyderabad', 'Kompally, Hyderabad', 'Mallampet, Hyderabad', 'Narsingi, Hyderabad', 'Thimmapur, Hyderabad', 'Shamshabad, Hyderabad', 'Sangareddy, Hyderabad', 'Attapur, Hyderabad', 'Manikonda, Hyderabad', 'Narsingi, Hyderabad', 'Nanakramguda, Hyderabad', 'Ghatkesar, Hyderabad', 'Yapral, Hyderabad', 'Bachupally, Hyderabad', 'Kompally, Hyderabad', 'Mallampet, Hyderabad', 'Narsingi, Hyderabad', 'Thimmapur, Hyderabad', 'Shamshabad, Hyderabad']

In [ ]:
# price_per_sqft

rate_tag=soup.find_all('td',attrs={'class':'lbl rate'})

rate=[r.text.strip() for r in rate_tag]
print(rate)

['5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '4,899 / sq ft', '5,000 / sq ft', '8,184 / sq ft', '5,700 / sq ft', '17,000 / sq ft', '6,800 / sq ft', '4,500 / sq ft', '5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '4,899 / sq ft']

In [ ]:
status_tag=soup.find_all('td',attrs={'class':'val'})
status = []
for s in status_tag:
  status.append(s.text.strip())
print(status)

['Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'New', 'Under Construction', 'Under Construction', 'Under Construction', 'Ready to move', 'Under Construction', 'Ready to move', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'New', 'Under Construction']

In [ ]:
len(status)

20

In [ ]:
len(rate)

20

In [ ]:
# status,rate,price_1p,loc,area,n_bhk
print(price_1p)
print(rate)
print(area)
print(n_bhk)
print(loc)
print(status)

['1.37 Cr', '56.98 L', '65.48 L', '79.63 L', '99.58 L', '25.05 L', '43.6 L', '62.5 L', '96 L', '93.25 L', '6.06 Cr', '96.22 L', '56.02 L', '1.13 Cr', '52.58 L', '62.23 L', '73.33 L', '1.23 Cr', '45 L', '44.33 L']
['5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '4,899 / sq ft', '5,000 / sq ft', '8,184 / sq ft', '5,700 / sq ft', '17,000 / sq ft', '6,800 / sq ft', '4,500 / sq ft', '5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '4,899 / sq ft']
['2545', '1295', '1310', '1593', '1510', '1503', '890', '1250', '1173', '1636', '3567', '1415', '1245', '2105', '1195', '1245', '1467', '1875', '2700', '905']
['3', '2', '2', '3', '3', 'Residential Plot', '2', '2', '2', '3', '4', '3', '2', '3', '2', '2', '3', '3', 'Residential Plot', '2']
['Yapral, Hyderabad', 'Bachupally, Hyderabad', 'Kompally, Hyderabad', 'Mallampet, Hyderabad', 'Narsingi, Hyderabad', 'Thimmapur, Hyderabad', 'Shamshabad, Hyderabad', 'Sangareddy, Hyderabad', 'Attapur, Hyderabad', 'Manikonda, Hyderabad', 'Narsingi, Hyderabad', 'Nanakramguda, Hyderabad', 'Ghatkesar, Hyderabad', 'Yapral, Hyderabad', 'Bachupally, Hyderabad', 'Kompally, Hyderabad', 'Mallampet, Hyderabad', 'Narsingi, Hyderabad', 'Thimmapur, Hyderabad', 'Shamshabad, Hyderabad']
['Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'New', 'Under Construction', 'Under Construction', 'Under Construction', 'Ready to move', 'Under Construction', 'Ready to move', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'New', 'Under Construction']

In [ ]:
prop_info = {'Price' : price_1p,
            'Rate_per_sqft' : rate,
            'Area' : area,
            'Num_Bhk' : n_bhk,
            'Locality' : loc,
            'Status' : status}
print(prop_info)

{'Price': ['1.37 Cr', '56.98 L', '65.48 L', '79.63 L', '99.58 L', '25.05 L', '43.6 L', '62.5 L', '96 L', '93.25 L', '6.06 Cr', '96.22 L', '56.02 L', '1.13 Cr', '52.58 L', '62.23 L', '73.33 L', '1.23 Cr', '45 L', '44.33 L'], 'Rate_per_sqft': ['5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '4,899 / sq ft', '5,000 / sq ft', '8,184 / sq ft', '5,700 / sq ft', '17,000 / sq ft', '6,800 / sq ft', '4,500 / sq ft', '5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '4,899 / sq ft'], 'Area': ['2545', '1295', '1310', '1593', '1510', '1503', '890', '1250', '1173', '1636', '3567', '1415', '1245', '2105', '1195', '1245', '1467', '1875', '2700', '905'], 'Num_Bhk': ['3', '2', '2', '3', '3', 'Residential Plot', '2', '2', '2', '3', '4', '3', '2', '3', '2', '2', '3', '3', 'Residential Plot', '2'], 'Locality': ['Yapral, Hyderabad', 'Bachupally, Hyderabad', 'Kompally, Hyderabad', 'Mallampet, Hyderabad', 'Narsingi, Hyderabad', 'Thimmapur, Hyderabad', 'Shamshabad, Hyderabad', 'Sangareddy, Hyderabad', 'Attapur, Hyderabad', 'Manikonda, Hyderabad', 'Narsingi, Hyderabad', 'Nanakramguda, Hyderabad', 'Ghatkesar, Hyderabad', 'Yapral, Hyderabad', 'Bachupally, Hyderabad', 'Kompally, Hyderabad', 'Mallampet, Hyderabad', 'Narsingi, Hyderabad', 'Thimmapur, Hyderabad', 'Shamshabad, Hyderabad'], 'Status': ['Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'New', 'Under Construction', 'Under Construction', 'Under Construction', 'Ready to move', 'Under Construction', 'Ready to move', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'Under Construction', 'New', 'Under Construction']}

In [ ]:
import pandas as pd
pd.DataFrame(prop_info)

      Price   Rate_per_sqft  ...                 Locality              Status
0   1.37 Cr   5,400 / sq ft  ...        Yapral, Hyderabad  Under Construction
1   56.98 L   4,400 / sq ft  ...    Bachupally, Hyderabad  Under Construction
2   65.48 L   4,999 / sq ft  ...      Kompally, Hyderabad  Under Construction
3   79.63 L   4,999 / sq ft  ...     Mallampet, Hyderabad  Under Construction
4   99.58 L   6,595 / sq ft  ...      Narsingi, Hyderabad  Under Construction
5   25.05 L   1,667 / sq ft  ...     Thimmapur, Hyderabad                 New
6    43.6 L   4,899 / sq ft  ...    Shamshabad, Hyderabad  Under Construction
7    62.5 L   5,000 / sq ft  ...    Sangareddy, Hyderabad  Under Construction
8      96 L   8,184 / sq ft  ...       Attapur, Hyderabad  Under Construction
9   93.25 L   5,700 / sq ft  ...     Manikonda, Hyderabad       Ready to move
10  6.06 Cr  17,000 / sq ft  ...      Narsingi, Hyderabad  Under Construction
11  96.22 L   6,800 / sq ft  ...  Nanakramguda, Hyderabad       Ready to move
12  56.02 L   4,500 / sq ft  ...     Ghatkesar, Hyderabad  Under Construction
13  1.13 Cr   5,400 / sq ft  ...        Yapral, Hyderabad  Under Construction
14  52.58 L   4,400 / sq ft  ...    Bachupally, Hyderabad  Under Construction
15  62.23 L   4,999 / sq ft  ...      Kompally, Hyderabad  Under Construction
16  73.33 L   4,999 / sq ft  ...     Mallampet, Hyderabad  Under Construction
17  1.23 Cr   6,595 / sq ft  ...      Narsingi, Hyderabad  Under Construction
18     45 L   1,667 / sq ft  ...     Thimmapur, Hyderabad                 New
19  44.33 L   4,899 / sq ft  ...    Shamshabad, Hyderabad  Under Construction

[20 rows x 6 columns]

In [ ]:
import time
from IPython.display import clear_output

base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

price = []
n_bhk = []
area = []
loc = []
rate_info = []
status = []

for i in range(1,26):

  print(f'Going to scrape the data from the {i} page')
  clear_output(wait=True)
  time.sleep(2)

  url = base_url+str(i)
  # 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page=' 

  #request the url and convert into soup object
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  # price

  p_tag = soup.find_all('div',attrs={'data-type' : 'price-link'})
  for p in p_tag:
    price.append(p.text.strip())


  # number of bhk
  prop=soup.find_all('a',attrs={'class':'typelink','target':'_blank'})
  for b in prop:
    n_bhk.append(b.span.text.strip())
  
  # area in sqft
  a_tag = soup.find_all('td', attrs ={'class':'size'})
  for a in a_tag:
    area.append(a.text.strip())
 
  # locality
  l_tag=soup.find_all('a',attrs={'class':'loclink'})
  for l in l_tag:
    loc.append(l.text.strip())

  # price_per_sqft
  rate_tag=soup.find_all('td',attrs={'class':'lbl rate'})
  rate=[r.text.strip() for r in rate_tag]
  for rt in rate:
    rate_info.append(rt)

  status_tag=soup.find_all('td',attrs={'class':'val'})
  for s in status_tag:
    status.append(s.text.strip())

Going to scrape the data from the 25 page

In [ ]:
prop_info = {'Price' : price,
            'Rate_per_sqft' : rate_info,
            'Area' : area,
            'Num_Bhk' : n_bhk,
            'Locality' : loc,
            'Status' : status}
print(prop_info)

{'Price': ['1.37 Cr', '56.98 L', '65.48 L', '79.63 L', '99.58 L', '25.05 L', '43.6 L', '62.5 L', '96 L', '93.25 L', '6.06 Cr', '96.22 L', '56.02 L', '1.13 Cr', '52.58 L', '62.23 L', '58.93 L', '1.23 Cr', '22.5 L', '44.33 L', '62.5 L', '1.4 Cr', '74.55 L', '4.64 Cr', '96.9 L', '56.02 L', '1.11 Cr', '74.58 L', '78.73 L', '59.38 L', '84.74 L', '49.95 L', '48.65 L', '67.5 L', '71.36 L', '5.69 Cr', '70.65 L', '43.17 L', '92.62 L', '47 L', '38.5 L', '75 L', '1.56 Cr', '4.5 Cr', '60 L', '6.1 Cr', '1.15 Cr', '56 L', '50 L', '62.37 L', '2.3 Cr', '2.3 Cr', '96 L', '35 L', '76 L', '2 Cr', '1.25 Cr', '2.35 Cr', '1.45 Cr', '86.8 L', '58 L', '26 L', '1 Cr', '70 L', '83 L', '34.81 L', '1.39 Cr', '98 L', '67 L', '55 L', '59 L', '1 Cr', '38 L', '1.85 Cr', '41.91 L', '75 L', '40 L', '57.88 L', '60 L', '46 L', '1.25 Cr', '1 Cr', '50.98 L', '1.3 Cr', '99 L', '65 L', '1 Cr', '1.15 Cr', '45 L', '34 L', '87 L', '8.07 L', '1.5 Cr', '89 L', '25 L', '31.5 L', '1.25 Cr', '5.9 Cr', '1.3 Cr', '42 L', '1.28 Cr', '2.07 Cr', '1.17 Cr', '1 Cr', '35 L', '58 L', '69.25 L', '76.12 L', '86.8 L', '35 L', '1.74 Cr', '84 L', '41.25 L', '38.75 L', '33.75 L', '31.25 L', '33.75 L', '33.75 L', '31.25 L', '41.25 L', '31.25 L', '41.25 L', '39.75 L', '41.25 L', '38.75 L', '33.5 L', '20 L', '59.25 L', '70 L', '1.2 Cr', '85 L', '54.06 L', '33 L', '31.25 L', '70 L', '41.25 L', '54.06 L', '38.75 L', '45 L', '52.67 L', '1.15 Cr', '1.17 Cr', '1.1 Cr', '39.54 L', '39.6 L', '33.52 L', '2 Cr', '39.2 L', '35 L', '1.05 Cr', '68 L', '1.29 Cr', '1.6 Cr', '66.6 L', '2.35 Cr', '62 L', '90 L', '99 L', '1.8 Cr', '20 L', '24.5 L', '20 L', '42 L', '8.25 L', '1.31 Cr', '40 L', '42 L', '25 L', '24 L', '57 L', '87 L', '1 Cr', '3.5 Cr', '40 L', '27.5 L', '72 L', '4.5 Cr', '38.7 L', '23 L', '42 L', '24.24 L', '3.5 Cr', '56 L', '24.2 L', '90 L', '24.5 L', '40 L', '47.23 L', '1 Cr', '33.5 L', '1.06 Cr', '48 L', '1.8 Cr', '36.14 L', '20 L', '72 L', '38 L', '1.23 Cr', '1.16 Cr', '40 L', '36.13 L', '1.3 Cr', '1.3 Cr', '1.15 Cr', '2.9 Cr', '1.45 Cr', '28.04 L', '52.7 L', '42.5 L', '52.7 L', '42.5 L', '42.5 L', '56.1 L', '42.5 L', '19 L', '52.7 L', '56.1 L', '56.1 L', '52.7 L', '45.9 L', '45.9 L', '42.5 L', '56.1 L', '56.1 L', '54.06 L', '51 L', '2.8 Cr', '60 L', '57 L', '58 L', '16 L', '2.8 Cr', '2 Cr', '19 L', '36.13 L', '66 L', '1.1 Cr', '72 L', '84 L', '62 L', '72 L', '84 L', '62 L', '60 L', '2.15 Cr', '89 L', '27 L', '75 L', '42 L', '25 L', '80 L', '32 L', '61 L', '62 L', '1 Cr', '42.5 L', '20 L', '29.04 L', '40 L', '25 L', '30 L', '77 L', '1.45 Cr', '72.09 L', '1.35 Cr', '52 L', '43 L', '49 L', '49 L', '49 L', '20 L', '20 L', '20 L', '2.45 Cr', '1.75 Cr', '1.75 Cr', '49 L', '49 L', '49 L', '49 L', '49.95 L', '45 L', '1.09 Cr', '94.11 L', '82 L', '82 L', '82 L', '82 L', '82 L', '82 L', '20 L', '20 L', '20 L', '20 L', '20 L', '20 L', '40 L', '40 L', '40 L', '40 L', '40 L', '20 L', '20 L', '20 L', '40 L', '82 L', '20 L', '20 L', '20 L', '20 L', '20 L', '20 L', '33 L', '79 L', '56 L', '2.9 Cr', '85 L', '1 Cr', '56 L', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.05 Cr', '1.5 Cr', '1.62 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.62 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.62 Cr', '1.05 Cr', '1.05 Cr', '47.6 L', '1.5 Cr', '1.5 Cr', '1.5 Cr', '43.4 L', '1.67 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.35 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.5 Cr', '1.05 Cr', '1.05 Cr', '2.4 Cr', '2.4 Cr', '20 L', '3 Cr', '60 L', '36 L', '2.4 Cr', '2.4 Cr', '2.4 Cr', '2.4 Cr', '2.4 Cr', '2.4 Cr', '36 L', '8.25 L', '31.94 L', '20.9 L', '20.9 L', '20.9 L', '20.9 L', '20.9 L', '20.9 L', '20.9 L', '52 L', '1.6 Cr', '25 L', '77.99 L', '77.99 L', '39 L', '77.99 L', '39 L', '25 L', '1.6 Cr', '52 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '43 L', '43 L', '43 L', '77.99 L', '77.99 L', '70 L', '43 L', '1.8 Cr', '1.8 Cr', '77.99 L', '77.99 L', '43 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '34 L', '43 L', '43 L', '42 L', '42 L', '1.8 Cr', '77.99 L', '77.99 L', '7 L', '7 L', '7 L', '46.87 L', '2.95 Cr', '2.95 Cr', '2.95 Cr', '2.95 Cr', '2.95 Cr', '2.95 Cr', '2.95 Cr', '2.95 Cr', '2.95 Cr', '2.95 Cr', '70 L', '70 L', '70 L', '2.95 Cr', '2.95 Cr', '2.95 Cr', '2.95 Cr', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '76.8 L', '35 L', '35 L', '46.87 L', '46.87 L', '56.87 L', '56.87 L', '1.5 Cr', '20 L', '46.87 L', '56.87 L', '56.87 L', '46.87 L', '46.87 L', '46.87 L', '35 L', '46.87 L', '56.87 L', '72 L', '72 L', '1.85 Cr'], 'Rate_per_sqft': ['5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '4,899 / sq ft', '5,000 / sq ft', '8,184 / sq ft', '5,700 / sq ft', '17,000 / sq ft', '6,800 / sq ft', '4,500 / sq ft', '5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '4,899 / sq ft', '5,000 / sq ft', '7,878 / sq ft', '5,700 / sq ft', '16,000 / sq ft', '6,800 / sq ft', '4,500 / sq ft', '5,400 / sq ft', '4,400 / sq ft', '4,999 / sq ft', '4,999 / sq ft', '6,595 / sq ft', '1,667 / sq ft', '5,149 / sq ft', '5,000 / sq ft', '5,700 / sq ft', '16,000 / sq ft', '4,500 / sq ft', '3,000 / sq ft', '5,800 / sq ft', '4,476 / sq ft', '3,208 / sq ft', '4,990 / sq ft', '6,000 / sq ft', '6,617 / sq ft', '6,000 / sq ft', '17,428 / sq ft', '4,600 / sq ft', '5,308 / sq ft', '2,474 / sq ft', '6,085 / sq ft', '8,795 / sq ft', '7,421 / sq ft', '5,783 / sq ft', '2,873 / sq ft', '4,691 / sq ft', '4,807 / sq ft', '6,297 / sq ft', '11,750 / sq ft', '4,677 / sq ft', '5,600 / sq ft', '4,461 / sq ft', '2,363 / sq ft', '6,779 / sq ft', '5,039 / sq ft', '7,094 / sq ft', '2,699 / sq ft', '6,177 / sq ft', '4,780 / sq ft', '6,068 / sq ft', '5,238 / sq ft', '3,277 / sq ft', '6,024 / sq ft', '3,721 / sq ft', '7,551 / sq ft', '3,300 / sq ft', '4,120 / sq ft', '3,636 / sq ft', '402 / sq ft', '4,615 / sq ft', '3,724 / sq ft', '6,249 / sq ft', '2,857 / sq ft', '4,461 / sq ft', '4,727 / sq ft', '6,111 / sq ft', '4,234 / sq ft', '6,060 / sq ft', '6,388 / sq ft', '4,090 / sq ft', '1,888 / sq ft', '7,073 / sq ft', '597 / sq ft', '4,950 / sq ft', '4,045 / sq ft', '1,377 / sq ft', '2,520 / sq ft', '6,944 / sq ft', '10,172 / sq ft', '9,122 / sq ft', '3,756 / sq ft', '5,800 / sq ft', '5,800 / sq ft', '5,500 / sq ft', '4,700 / sq ft', '2,991 / sq ft', '4,703 / sq ft', '6,021 / sq ft', '5,970 / sq ft', '5,600 / sq ft', '3,500 / sq ft', '5,400 / sq ft', '5,401 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,500 / sq ft', '2,481 / sq ft', '1,111 / sq ft', '3,699 / sq ft', '6,822 / sq ft', '8,219 / sq ft', '6,071 / sq ft', '3,400 / sq ft', '2,444 / sq ft', '2,500 / sq ft', '5,600 / sq ft', '2,500 / sq ft', '3,400 / sq ft', '2,500 / sq ft', '3,333 / sq ft', '4,214 / sq ft', '4,259 / sq ft', '6,602 / sq ft', '5,612 / sq ft', '2,594 / sq ft', '2,598 / sq ft', '2,598 / sq ft', '7,017 / sq ft', '1,555 / sq ft', '2,356 / sq ft', '7,118 / sq ft', '7,555 / sq ft', '10,750 / sq ft', '4,444 / sq ft', '4,000 / sq ft', '6,351 / sq ft', '2,580 / sq ft', '5,980 / sq ft', '5,351 / sq ft', '8,089 / sq ft', '1,687 / sq ft', '3,769 / sq ft', '1,687 / sq ft', '2,333 / sq ft', '611 / sq ft', '5,998 / sq ft', '5,194 / sq ft', '4,666 / sq ft', '2,272 / sq ft', '884 / sq ft', '3,166 / sq ft', '5,800 / sq ft', '8,663 / sq ft', '6,603 / sq ft', '734 / sq ft', '2,500 / sq ft', '6,343 / sq ft', '12,857 / sq ft', '3,000 / sq ft', '1,277 / sq ft', '1,555 / sq ft', '2,203 / sq ft', '7,685 / sq ft', '4,469 / sq ft', '2,200 / sq ft', '7,518 / sq ft', '1,633 / sq ft', '1,777 / sq ft', '2,999 / sq ft', '6,172 / sq ft', '3,190 / sq ft', '8,480 / sq ft', '3,840 / sq ft', '9,399 / sq ft', '2,999 / sq ft', '1,481 / sq ft', '2,000 / sq ft', '3,619 / sq ft', '7,387 / sq ft', '6,966 / sq ft', '4,278 / sq ft', '2,999 / sq ft', '7,291 / sq ft', '2,363 / sq ft', '6,699 / sq ft', '8,285 / sq ft', '7,458 / sq ft', '2,077 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '1,225 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,400 / sq ft', '3,187 / sq ft', '8,000 / sq ft', '4,800 / sq ft', '5,700 / sq ft', '4,833 / sq ft', '888 / sq ft', '8,588 / sq ft', '8,080 / sq ft', '1,055 / sq ft', '2,999 / sq ft', '4,492 / sq ft', '6,666 / sq ft', '4,519 / sq ft', '5,675 / sq ft', '5,904 / sq ft', '4,519 / sq ft', '5,675 / sq ft', '5,904 / sq ft', '5,893 / sq ft', '9,772 / sq ft', '6,137 / sq ft', '1,500 / sq ft', '6,000 / sq ft', '2,333 / sq ft', '1,851 / sq ft', '6,153 / sq ft', '2,735 / sq ft', '6,069 / sq ft', '5,688 / sq ft', '5,780 / sq ft', '3,400 / sq ft', '833 / sq ft', '968 / sq ft', '2,222 / sq ft', '1,851 / sq ft', '2,727 / sq ft', '5,500 / sq ft', '6,558 / sq ft', '3,003 / sq ft', '7,714 / sq ft', '5,777 / sq ft', '3,568 / sq ft', '4,286 / sq ft', '4,286 / sq ft', '4,286 / sq ft', '2,162 / sq ft', '2,162 / sq ft', '2,162 / sq ft', '7,424 / sq ft', '5,147 / sq ft', '5,147 / sq ft', '4,286 / sq ft', '4,286 / sq ft', '4,286 / sq ft', '4,286 / sq ft', '3,000 / sq ft', '5,467 / sq ft', '6,900 / sq ft', '6,600 / sq ft', '5,448 / sq ft', '5,448 / sq ft', '5,448 / sq ft', '5,448 / sq ft', '5,448 / sq ft', '5,448 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '2,222 / sq ft', '2,222 / sq ft', '2,222 / sq ft', '2,222 / sq ft', '2,222 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '2,222 / sq ft', '5,448 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '1,818 / sq ft', '2,588 / sq ft', '5,302 / sq ft', '3,393 / sq ft', '10,665 / sq ft', '5,666 / sq ft', '4,545 / sq ft', '3,111 / sq ft', '7,500 / sq ft', '16,666 / sq ft', '16,666 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '4,038 / sq ft', '7,500 / sq ft', '5,004 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '5,004 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '5,004 / sq ft', '4,038 / sq ft', '4,038 / sq ft', '3,500 / sq ft', '16,666 / sq ft', '16,666 / sq ft', '16,666 / sq ft', '3,500 / sq ft', '6,007 / sq ft', '16,666 / sq ft', '16,666 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '5,625 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '7,500 / sq ft', '4,038 / sq ft', '4,038 / sq ft', '8,000 / sq ft', '8,000 / sq ft', '1,612 / sq ft', '8,108 / sq ft', '4,938 / sq ft', '3,272 / sq ft', '8,000 / sq ft', '8,000 / sq ft', '8,000 / sq ft', '8,000 / sq ft', '8,000 / sq ft', '8,000 / sq ft', '2,000 / sq ft', '611 / sq ft', '3,900 / sq ft', '2,200 / sq ft', '2,200 / sq ft', '2,200 / sq ft', '2,200 / sq ft', '2,200 / sq ft', '2,200 / sq ft', '2,200 / sq ft', '5,388 / sq ft', '5,333 / sq ft', '2,118 / sq ft', '4,333 / sq ft', '4,333 / sq ft', '3,627 / sq ft', '4,333 / sq ft', '3,627 / sq ft', '2,118 / sq ft', '5,333 / sq ft', '5,388 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '3,583 / sq ft', '3,583 / sq ft', '3,583 / sq ft', '4,333 / sq ft', '4,333 / sq ft', '5,384 / sq ft', '3,583 / sq ft', '5,806 / sq ft', '5,806 / sq ft', '4,333 / sq ft', '4,333 / sq ft', '3,583 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '4,000 / sq ft', '3,583 / sq ft', '3,583 / sq ft', '3,500 / sq ft', '3,500 / sq ft', '5,806 / sq ft', '4,333 / sq ft', '4,333 / sq ft', '777 / sq ft', '777 / sq ft', '777 / sq ft', '3,873 / sq ft', '9,833 / sq ft', '9,833 / sq ft', '9,833 / sq ft', '9,833 / sq ft', '11,800 / sq ft', '9,833 / sq ft', '9,833 / sq ft', '9,833 / sq ft', '9,833 / sq ft', '9,833 / sq ft', '4,713 / sq ft', '4,713 / sq ft', '4,713 / sq ft', '9,833 / sq ft', '11,800 / sq ft', '9,833 / sq ft', '9,833 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '3,555 / sq ft', '2,916 / sq ft', '2,916 / sq ft', '3,873 / sq ft', '3,873 / sq ft', '4,700 / sq ft', '4,700 / sq ft', '8,108 / sq ft', '1,923 / sq ft', '3,873 / sq ft', '4,700 / sq ft', '4,700 / sq ft', '3,873 / sq ft', '3,873 / sq ft', '3,873 / sq ft', '2,916 / sq ft', '3,873 / sq ft', '4,700 / sq ft', '4,502 / sq ft', '4,502 / sq ft', '10,277 / sq ft'], 'Area': ['2545', '1295', '1310', '1593', '1510', '1503', '890', '1250', '1173', '1636', '3567', '1415', '1245', '2105', '1195', '1245', '1179', '1875', '1350', '905', '1250', '1777', '1308', '2900', '1425', '1245', '2070', '1695', '1575', '1188', '1285', '2997', '945', '1350', '1252', '3560', '1570', '1439', '1597', '1050', '1200', '1503', '2600', '6800', '1000', '3500', '2500', '1055', '2021', '1025', '2615', '3099', '1660', '1218', '1620', '4160', '1985', '2000', '3100', '1550', '1300', '1100', '1475', '1389', '1170', '1290', '2250', '2050', '1104', '1050', '1800', '1660', '1021', '2450', '1270', '1820', '1100', '14400', '1300', '1235', '2008', '3500', '1143', '2750', '1620', '1535', '1650', '1800', '1100', '1800', '1230', '1350', '3030', '2200', '1815', '1250', '1800', '5800', '1425', '1118', '2208', '3569', '2132', '2132', '1170', '1233', '1150', '1275', '1550', '1000', '3234', '1555', '1650', '1550', '1350', '1250', '1350', '1350', '1250', '1650', '1250', '1650', '1590', '1650', '1550', '1350', '1800', '1602', '1026', '1460', '1400', '1590', '1350', '1250', '1250', '1650', '1590', '1550', '1350', '1250', '2700', '1772', '1960', '1524', '1524', '1290', '2850', '2520', '1485', '1475', '900', '1200', '3600', '1665', '3700', '2403', '1505', '1850', '2225', '1185', '650', '1185', '1800', '1350', '2184', '770', '900', '1100', '2714', '1800', '1500', '1160', '5300', '5445', '1100', '1135', '3500', '1290', '1800', '2700', '1100', '4554', '1253', '1100', '1197', '1500', '2250', '1575', '1620', '1050', '1250', '1250', '1915', '1205', '1350', '3600', '1050', '1665', '1665', '935', '1205', '1783', '5500', '1730', '3500', '1944', '1350', '1550', '1250', '1550', '1250', '1250', '1650', '1250', '1550', '1550', '1650', '1650', '1550', '1350', '1350', '1250', '1650', '1650', '1590', '1600', '3500', '1250', '1000', '1200', '1800', '3260', '2475', '1800', '1205', '1469', '1650', '1593', '1480', '1050', '1593', '1480', '1050', '1018', '2200', '1450', '1800', '1250', '1800', '1350', '1300', '1170', '1005', '1090', '1730', '1250', '2400', '3000', '1800', '1350', '1100', '1400', '2211', '2400', '1750', '900', '1205', '1143', '1143', '1143', '925', '925', '925', '3300', '3400', '3400', '1143', '1143', '1143', '1143', '1665', '823', '1592', '1426', '1505', '1505', '1505', '1505', '1505', '1505', '1100', '1100', '1100', '1100', '1100', '1100', '1800', '1800', '1800', '1800', '1800', '1100', '1100', '1100', '1800', '1505', '1100', '1100', '1100', '1100', '1100', '1100', '1275', '1490', '1650', '2719', '1500', '2200', '1800', '2000', '900', '900', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2600', '2000', '3237', '2000', '2000', '2000', '2000', '2000', '3237', '2000', '2000', '2000', '2000', '3237', '2600', '2600', '1360', '900', '900', '900', '1240', '2780', '900', '900', '2000', '2000', '2400', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2600', '2600', '3000', '3000', '1240', '3700', '1215', '1100', '3000', '3000', '3000', '3000', '3000', '3000', '1800', '1350', '819', '950', '950', '950', '950', '950', '950', '950', '965', '3000', '1180', '1800', '1800', '1075', '1800', '1075', '1180', '3000', '965', '850', '850', '850', '850', '850', '850', '850', '850', '850', '850', '1200', '1200', '1200', '1800', '1800', '1300', '1200', '3100', '3100', '1800', '1800', '1200', '850', '850', '850', '850', '850', '850', '850', '850', '850', '850', '1200', '1200', '1200', '1200', '3100', '1800', '1800', '900', '900', '900', '1210', '3000', '3000', '3000', '3000', '2500', '3000', '3000', '3000', '3000', '3000', '1485', '1485', '1485', '3000', '2500', '3000', '3000', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '2160', '1200', '1200', '1210', '1210', '1210', '1210', '1850', '1040', '1210', '1210', '1210', '1210', '1210', '1210', '1200', '1210', '1210', '1599', '1599', '1800'], 'Num_Bhk': ['3', '2', '2', '3', '3', 'Residential Plot', '2', '2', '2', '3', '4', '3', '2', '3', '2', '2', '2', '3', 'Residential Plot', '2', '2', '3', '2', '3', '3', '2', '3', '3', '3', '2', '2', 'Residential Plot', '2', '3', '2', '4', '3', '2', '3', '2', '2', '2', '5', '7', '2', '4', '4', '2', '2', '3', '4', '3', '3', '2', '3', '8', '3', '2', '2', '3', '2', '2', '3', '2', '2', '2', '4', '3', '2', '2', '3', '2', '2', '4', '2', '3', '3', 'Residential Plot', '2', '3', '3', '4', '2', '5', '3', '3', '3', '2', '2', 'Residential Plot', '2', 'Residential Plot', '2', '4', 'Residential Plot', '2', '3', '4', '3', '2', '3', '3', '3', '3', '2', '2', '3', '3', '3', '2', '4', '3', '3', '3', '3', '2', '3', '3', '2', '3', '2', '3', '3', '3', '3', '3', 'Residential Plot', '2', '2', '3', '3', '3', '3', '2', '2', '3', '2', '3', '3', '2', '5', '3', '3', '3', '3', '2', '4', 'Residential Plot', 'Residential Plot', '3', '2', '4', '3', '3', '6', 'Residential Plot', '3', '3', '3', '2', '2', '2', 'Residential Plot', 'Residential Plot', '3', '2', '2', '2', 'Residential Plot', 'Residential Plot', '3', '2', '6', 'Residential Plot', '2', '3', '4', '2', 'Residential Plot', 'Residential Plot', '2', '3', '2', '2', '2', 'Residential Plot', 'Residential Plot', '3', '3', '2', '4', '2', '3', '2', 'Residential Plot', 'Residential Plot', '2', '3', '3', '2', '2', '3', '10', '3', '4', 'Residential Plot', 'Residential Plot', '3', '2', '3', '2', '2', '3', '2', '2', '2', '3', '3', '3', '3', '3', '2', '3', '3', '3', '3', '4', '3', '2', '3', 'Residential Plot', '4', '2', 'Residential Plot', '2', '3', '3', '3', '3', '2', '3', '3', '2', '2', '5', '3', 'Residential Plot', '2', 'Residential Plot', 'Residential Plot', '4', '2', '2', '2', '3', '2', 'Residential Plot', 'Residential Plot', 'Residential Plot', 'Residential Plot', '2', '3', '3', 'Residential Plot', '1', 'Residential Plot', '2', '2', '2', '2', '2', '2', '2', '4', '4', '4', '2', '2', '2', '2', '3', '2', '3', '2', '3', '3', '3', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '3', '2', '2', '2', '2', '2', '2', '2', '3', '2', '3', '3', '4', '2', '3', '2', '2', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '2', '2', '2', '3', '4', '2', '2', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '4', '4', '2', '4', '2', '2', '4', '4', '4', '4', '4', '4', 'Residential Plot', 'Residential Plot', '2', '2', '2', '2', '2', '2', '2', '2', '2', '4', '2', '4', '4', '2', '4', '2', '2', '4', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '4', '4', '2', '2', '4', '4', '4', '4', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '4', '4', '4

In [ ]:
import pandas as pd
data = pd.DataFrame(prop_info)

In [ ]:
data

       Price  ...              Status
0    1.37 Cr  ...  Under Construction
1    56.98 L  ...  Under Construction
2    65.48 L  ...  Under Construction
3    79.63 L  ...  Under Construction
4    99.58 L  ...  Under Construction
..       ...  ...                 ...
495  46.87 L  ...  Under Construction
496  56.87 L  ...  Under Construction
497     72 L  ...  Under Construction
498     72 L  ...  Under Construction
499  1.85 Cr  ...       Ready to move

[500 rows x 6 columns]

In [ ]:
data.to_csv('hyd_properties.csv')

In [ ]:
base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

In [ ]:
url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'

In [ ]:
requests.get(url)

In [3]:
import pandas as pd

dct = {'Name' : ['A','B','C','D'],
       'Marks' : [55,56,78]}

pd.DataFrame(dct)

ValueError: ignored